.user-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: deepskyblue;
}

.btn-success {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*.btn-success {*/
  /*margin-right: 50px;*/
/*}*/
