.user-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: deepskyblue;
}

.btn-success {
  margin-right: 50px;
  margin-top: 50px;
}

.error-message {
  color: red;
}
